<!DOCTYPE html>

<html>
   <head>
      <title>Super Cool Microservices | Areeeb! What's the time?</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      <link href="../public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body class="space-mono-regular">

    <header id="main-title-header" class="main-title space-mono-bold"> 
      <h1 id="main-title-heading">Whaaat's the time?</h1>
      <p>*This server hosts a microservices API </p>
      <hr id="main-page-horizontal-line"/>
    </header>
   
    <section id="section0" class="usage-section">

      <h2 id="api-usage-title">API Usage:</h2>

      <article class="usage-article">
        <p>You can return the date using ISO format yyyy-mm-dd</p>
        <code>/api/{yyyy}-{mm}-{dd}</code>
      </article>

      <article class="usage-article">
        <p>You can also return the date from microseconds from zero time. </p>
        <code>/api/{microseconds}</code>
      </article>

    </section>

    <section id="section1" class="example-section">

      <h2 id="api-usage-title">API Example:</h2>

      <article class="example-article">
        <p class="inline">Call By Date:</p>
        <a href="api/2015-12-25">/api/2015-12-25</a>
        <p>Response:<code>{'timestamp':2015-12-25}</code></p>

      </article>

      <article class="example-article">
        <p class="inline">Call by Microseconds:</p>
        <a href="api/1451001600000">/api/1451001600000</a>
        <p>Response:<code>{'timestamp':2015-12-25}</p>
      </article>

    </section>

   
   <footer>
    Super Cool Microservices from <a href="https://github.com/areeb-h-qureshi">Areeb Qureshi</a>
   </footer>
  </body>
</html>
