/* Fonts */

.space-mono-regular {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
  }
  
  .space-mono-bold {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: normal;
  }
  
  .space-mono-regular-italic {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: italic;
  }
  
  .space-mono-bold-italic {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: italic;
  }


  .inline {
	display: inline;
  }
/****** Main Styling ******/

body {
	font-size: 16px;
	color: #131B23;
	background-color: #E9F1F7;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #2574A9;
}
